/* section div {
    border: 3px solid black;
} */

#hero {
    height: 700px;
}

#logo {
    height:50px;
}

#footer{
    display: flex;
    height:auto;;
    width: 100%;
    background-color:rgb(39, 38, 38);
    color: white;
}

.footer-copyright a{
    text-decoration: none;
    color: white;
}

.list-unstyled a{
    font-size: 10px;
    color: grey;
}

.col {
    padding:0 !important;
}

