/* section div {
    border: 3px solid black;
} */

#hero {
    height: 700px;
}

#logo {
    height:50px;
}

#footer{
    height:250px;
    width: 100%;
    background-color:grey;
    border: 1px black solid;
}